---
import MainGridLayout from "../../layouts/MainGridLayout.astro";
---

<MainGridLayout title="Categories">
    <div class="card-base px-8 py-12 text-center text-50 text-lg">
        Select a category from the sidebar to view posts.
    </div>
</MainGridLayout>
