---
import { getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import MainGridLayout from "@layouts/MainGridLayout.astro";

const page = await getEntry("spec", "fcircle");
if (!page) throw new Error("Page not found: fcircle");

const { Content } = await render(page);
const title = page.data.title || page.id;
---
<MainGridLayout title={title}>
  <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
    <div class="card-base z-10 px-9 py-6 relative w-full">
      <Markdown class="mt-2">
        <Content />
      </Markdown>
    </div>
  </div>
</MainGridLayout>

<link rel="stylesheet" href="https://cdn.245179.xyz/css/fclite.min.css">
<script src="https://cdn.245179.xyz/js/fclite.load.js" data-swup-reload-script></script>
<script src="https://cdn.245179.xyz/js/fclite.min.js" data-swup-reload-script></script>
