---
import { getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import MainGridLayout from "@layouts/MainGridLayout.astro";

const page = await getEntry("spec", "fcircle");
if (!page) throw new Error("Page not found: fcircle");

const { Content } = await render(page);
const title = page.data.title || page.id;
---
<MainGridLayout title={title}>
  <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
    <div class="card-base z-10 px-9 py-6 relative w-full">
      <Markdown class="mt-2">
        <Content />
      </Markdown>
    </div>
  </div>
  <link rel="stylesheet" href="https://cdn.245179.xyz/css/fclite.min.css">
  <script data-swup-reload-script>
    (function() {
      var css = "https://cdn.245179.xyz/css/fclite.min.css";
      if (!document.querySelector('link[href="' + css + '"]')) {
        var l = document.createElement("link");
        l.rel = "stylesheet"; l.href = css;
        document.head.appendChild(l);
      }
      var root = document.getElementById("friend-circle-lite-root");
      if (root) root.innerHTML = "";
      function load(src, cb) {
        var s = document.createElement("script");
        s.src = src;
        s.onload = cb;
        document.head.appendChild(s);
      }
      load("https://cdn.245179.xyz/js/fclite.load.js", function() {
        load("https://cdn.245179.xyz/js/fclite.min.js");
      });
    })();
  </script>
</MainGridLayout>
