---
import MainGridLayout from "@layouts/MainGridLayout.astro";
import ShuoshuoTimeline from "@components/features/ShuoshuoTimeline.svelte";
import { profileConfig } from "../config/site";
import { shuoshuoConfig } from "../config/shuoshuo";
import avatarSrc from "@assets/images/avatar.jpg";
---

<MainGridLayout title="说说">
  <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative mb-4">
    <div class="card-base z-10 px-6 md:px-9 pt-6 pb-4 relative w-full">
      <h1 class="text-2xl font-bold text-black/90 dark:text-white/90 mb-6
        before:w-1 before:h-5 before:rounded-md before:bg-[var(--primary)]
        before:inline-block before:mr-3 before:align-middle">
        动态
      </h1>

      <ShuoshuoTimeline avatar={avatarSrc.src} name={profileConfig.name} fetchUrl={shuoshuoConfig.fetchUrl} client:load />
    </div>
  </div>
</MainGridLayout>
